extends base

block content
  .row.mb-4.mt-4
    h2 Create Post

    form#createPostForm
      .mb-3
        label.form-label(for='title') Title
        input#title.form-control(name='title')
        input#postId.form-control(type='hidden')

      .mb-3
        label.form-label(for='body') Body
        textarea#body.form-control(rows='3' name='body')

      .mb-3
        label.form-label(for='formFileSm') Cover Image
        input#coverImage.form-control.form-control-sm(type='file' name='coverImage' accept='image/*')

      .mb-3
        label.form-label(for='formFileSm') Images (Max 3 files)
        input#image1.form-control.form-control-sm(name='image1' type='file' accept='image/*')
        input#image2.form-control.form-control-sm(name='image2' type='file' accept='image/*')
        input#image3.form-control.form-control-sm(name='image3' type='file' accept='image/*')

      button.btn.btn-primary(type='submit') Submit

        
