extends base

block content
  .row.mb-2
    h2 Delete Post

    .card
      .card-header= post.title
      .card-body
        h5.card-title Are you sure want to delete the Post ?
        p.card-text Post once delete can not be recovered.
        
        .row
          .col
            a.btn.btn-primary(href='/posts') Cancel
          .col
            form#deletePostForm
              input#postId(type="hidden" value=`${post.id}`)
              button.btn.btn-danger.float-start#deletePost(type='submit') Delete
